{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<div id="container">
    <video autoplay="true" id="videoElement">

    </video>
    
    <button type="button" class="btn btn-secondary" id="btn">Start Recording</button>
    <button type="button" class="btn btn-secondary"id="stopbtn">Stop Recording</button>

    <div>Time left = <span id="timer"></span></div>
    
 

</div>


<script>
    
window.onload=function() {
    startTimer(); 
    const part = [];
    let mediaRecorder;
    navigator.mediaDevices.getUserMedia({video: true, audio: false}).then(stream => {
        document.querySelector('video').srcObject = stream;
           
            MediaRecorder=new MediaRecorder(stream);
            MediaRecorder.start(1000);
            MediaRecorder.ondataavailable=function(e){
            part.push(e.data);
        document.getElementById("btn").onclick = function() {
          
            }
        }
    });




//timer 

document.getElementById('timer').innerHTML =
  00 + ":" + 11;



function startTimer() {
  var presentTime = document.getElementById('timer').innerHTML;
  var timeArray = presentTime.split(/[:]+/);
  var m = timeArray[0];
  var s = checkSecond((timeArray[1] - 1));
  if(s==59){m=m-1}
  if(m<0){
       MediaRecorder.stop();   
       const blob=new Blob(part,{type:'video/mp4'});
       const url=URL.createObjectURL(blob);
       const a=document.createElement('a');
       document.body.appendChild(a);
       a.style='display: none';
       a.href=url;
       a.download='test.mp4';
       a.click();  
    
    alert('Kayıt tamamlandı');

    return
  }
  
  document.getElementById('timer').innerHTML =
    m + ":" + s;
  console.log(s)
  setTimeout(startTimer, 1000);
  
}

function checkSecond(sec) {
  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
  if (sec < 0) {sec = "59"};
  return sec;
}





    document.getElementById("stopbtn").onclick = function() {
      
         
    }
 
} 




</script>
{% endblock content %}
