{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
        <header class="text-center text-white bg-primary masthead">
            <button type="button" class="btn btn-secondary" onClick="myFunction()">Open Cv Camera</button>
            


         


            <script>
                const myFunction = () => {
                document.getElementById("first").src="http://127.0.0.1:8000/detectme";
            
                }
 
            </script>

    <img src = "{% url 'video_feed' %}">
 

            <div class="container"><img class="img-fluid d-block mx-auto mb-5" id='first'  style="display: none;">
                <h1>Cam test</h1>
                <hr class="star-light">
                <h2 class="font-weight-light mb-0"> </h2>
            </div>
    </header>
    {% endblock %}
